In [5]:
import requests
import json
import pandas as pd

In [6]:
fire_df = pd.read_csv("data/US_Wildfire_year_to_date.csv")
fire_df

       Date  Acres Burned  Number of Fires  Acres Burned per Fire
0    200001         40757             2796                  14.58
1    200002        208967             8467                  24.68
2    200003        549866            18779                  29.28
3    200004        732579            28015                  26.15
4    200005       1027072            39865                  25.76
..      ...           ...              ...                    ...
280  202305        510058            18015                  28.31
281  202306        673824            23712                  28.42
282  202307       1139857            30219                  37.72
283  202308       2007395            39299                  51.08
284  202309       2442088            44195                  55.26

[285 rows x 4 columns]